* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 100vh;            /* Ocupa toda la altura de la ventana */
    background-color: #1D0429;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos dentro de la .container */
    width: 100%;
    height: 100%;
}

.MiUsuario {
    background: #CD3F82;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.items {
    display: flex;
    align-items: center;
}

.items div a {
    font-size: 25px;
    padding: 16px;
    color: #E39ABD;
    text-decoration: none;
}

.logo {
    width: 70px;
    height: 70px;
}

.ruleta-container {
    position: relative;
    width: 700px; /* Tamaño de la ruleta grande */
    height: 700px; /* Tamaño de la ruleta grande */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px
}

.ruleta {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ruleta2 {
    position: absolute;
    width: 350px; /* Ajusta el tamaño de la ruleta pequeña */
    height: 350px; /* Ajusta el tamaño de la ruleta pequeña */
    border-radius: 50%; /* Mantiene la forma circular */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Asegura que esté sobre la ruleta grande */
}

.numero, .vacio {
    position: absolute;
    width: 33px; /* Ajusta el tamaño de los números */
    height: 33px; /* Ajusta el tamaño de los números */
    font-size: 23px; /* Ajusta el tamaño del texto */
    color: #fcfcfc;
    background: #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 30px; /* Alinea verticalmente el texto */
}
.numero-rojo {
    background: #ff0000;
}

.ruleta .numero {
    transform-origin: center center; /* Define el punto de origen de la rotación */
}

.numero-verde {
    background: #10ee08;
}

